<!DOCTYPE html>
<html lang="pt-pt">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Ani.me</title>

      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">

      <!-- Anime main CSS -->
      <link rel="stylesheet" href="../assets/css/main.css">

      <style>
            body {
              font-family: 'Rubik';
            }
      </style>
</head>
<body>
      <header class="header-menu">
            <h1 class="title-menu">Ani.me</h1>
            <nav class="nav-menu">
                  <ul class="ul-menu">
                        <li><a href="">Início</a></li>
                        <li><a href="">Lista</a></li>
                        <li><a href="">Género</a></li>
                        <li><a href="">Novos Episódios</a></li>
                       
                  </ul>
                  <input placeholder="Buscar" type="search" name="search" id="search">
            </nav>
      </header>

      <section class="section-menu-secondary">
            <nav class="nav-menu">
                  <ul class="ul-menu">
                        <li><a href="">Todos</a></li>
                        <li><a href="">A</a></li>
                        <li><a href="">B</a></li>
                        <li><a href="">C</a></li>
                        <li><a href="">D</a></li>
                        <li><a href="">E</a></li>
                        <li><a href="">F</a></li>
                        <li><a href="">G</a></li>
                        <li><a href="">H</a></li>
                  </ul>
            </nav>
            <div class="div-progress">
                  <div class="div-going"></div>
            </div>
      </section>

      <section class="section-news">
            <h2>Últimas novidades</h2>
            <p>O que você vai assistir hoje?</p>
            <div class="div-news">
                  <div class="div-conteudo">
                        <h2>ONE PUNCH MAN TERÁ A 3 TEMPORADA</h2>
                        <p>
                              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt voluptates reprehenderit molestias illo, quasi, maxime soluta porro, quia et ipsam possimus dictaut? maxime soluta porro, quia et ipsam possimus dictaut?
                        </p>
                  </div>
            </div>
      </section>
</body>
</html>