<!DOCTYPE html>
<html lang="pt-pt">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Ani.me</title>

      <!-- Anime main CSS -->
      <link rel="stylesheet" href="../assets/css/main.css">
</head>
<body>
      <header class="header-menu">
            <h1 class="title-menu">Ani.me</h1>
            <nav class="nav-menu">
                  <ul class="ul-menu">
                        <li><a href="">Início</a></li>
                        <li><a href="">Lista</a></li>
                        <li><a href="">Género</a></li>
                        <li><a href="">Novos Episódios</a></li>
                       
                  </ul>
                  <input placeholder="Buscar" type="search" name="search" id="search">
            </nav>
      </header>
</body>
</html>