<!DOCTYPE html>
<html lang="pt-pt">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Ani.me</title>

      <!-- Bootstrap -->
      <link rel="stylesheet" href="../assets/bootstrap/font/bootstrap-icons.min.css">

      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">

      <!-- Anime main CSS -->
      <link rel="stylesheet" href="../assets/css/main.css">

      <!-- Anime watch CSS -->
      <link rel="stylesheet" href="../assets/css/watch.css">
</head>
<body>

      <header class="header-menu">
            <h1 class="title-menu">Ani.me</h1>
            <nav class="nav-menu">
                  <ul class="ul-menu">
                        <li><a href="">Início</a></li>
                        <li><a href="">Lista</a></li>
                        <li><a href="">Género</a></li>
                        <li><a href="">Novos Episódios</a></li>
                        <li><a href="" class="icon bi bi-search"></a></li>
                        <li><a href="" class="icon bi bi-list"></a></li>
                       
                  </ul>
                  <input placeholder="Buscar" type="search" name="search" id="search">
            </nav>
      </header>

      <div class="titles-videos">
            <h2>Darling in the watch - Episódios 1</h2>
            <h4>Mais assistidos</h4>
      </div>
      <section class="section-watch">
            <section class="section-videos-side">

                  <div class="div-video">
                        <video controls src="../assets/videos/HTMX + DJANGO _ Consumindo API s sem JavaScript.mp4"></video>
                  </div>
                  <nav>
                        <div class="div-menu-video">
                              <img src="../assets/images/deathnote.jpeg" alt="">
                              <div class="details">
                                    <h4>Título aa do anime</h4>
                                    <p>2010</p>
                              </div>
                        </div>

                        <div class="div-menu-video">
                              <img src="../assets/images/deathnote.jpeg" alt="">
                              <div class="details">
                                    <h4>Título do anime</h4>
                                    <p>2010</p>
                              </div>
                        </div>

                        <div class="div-menu-video">
                              <img src="../assets/images/deathnote.jpeg" alt="">
                              <div class="details">
                                    <h4>Título do anime</h4>
                                    <p>2010</p>
                              </div>
                        </div>

                        <div class="div-menu-video">
                              <img src="../assets/images/deathnote.jpeg" alt="">
                              <div class="details">
                                    <h4>Título do anime</h4>
                                    <p>2010</p>
                              </div>
                        </div>
                  </nav>
            </section>
      </section>

      <section class="section-about-video">
            <div id="div-img">
                  <img src="../assets/images/deathnote.jpeg" alt="">
            </div>
            <nav class="nav-details">
                  <div class="div-menu-1">
                        <p><b>Duração</b>: 24 min</p>
                        <p><b>Estúdio</b>: Triger</p>
                        <p><b>Género</b>: Drama,Romance,Drama,Ação</p>
                  </div>
                  <div class="div-menu-2">
                        <p><b>Sinopse</b>: </p>
                        <p>Lorem, Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam dicta ea dolorum ratione eum voluptatum, explicabo autem illo provident, optio, voluptas sapiente? Recusandae ducimus et, distinctio corporis deleniti assumenda consequuntur? ipsum dolor sit amet consectetur adipisicing elit. Enim ad unde voluptas cupiditate. Ratione atque soluta exercitationem, repellendus at beatae obcaecati excepturi eligendi nesciunt. Eius possimus doloribus iusto officia at.</p>
                  </div>
            </nav>
      </section>
      

      <section class="section-coments">
            <h2>Comentarios</h2>
            <nav class="nav-coments">
                  <div class="coments">
                        <img src="../assets/images/demonslayer.jpeg" alt="">
                        <div class="coments-details">
                              <h3>Samuel Zaya</h3>
                              <p>Meu primeiro comentario :)</p>
                        </div>
                  </div>
                  <hr>
                  <div class="coments">
                        <img src="../assets/images/jujutsu.jpeg" alt="">
                        <div class="coments-details">
                              <h3>Teófelo Balundo</h3>
                              <p>Meu Segundo comentario desde que vi esse anime kkkkkk :)</p>
                        </div>
                  </div>
                  <hr>
            </nav>
            <div class="div-btn">
                  <input type="submit" value="Ver mais">
            </div>
      </section>


      <section class="section-updates">
            <h2>Relacionados</h2>
            <nav class="nav-card-update">
                  <div class="card-update">
                        <div class="div-img" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0.5, 0.99)), url('../assets/images/deathnote.jpeg');">
                              <p>Episódio 50</p>
                        </div>
                        <h4 class="title-update">
                              Death Note
                        </h4>
                  </div>

                  <div class="card-update">
                        <div class="div-img" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.99)), url('../assets/images/news.jpeg');">
                              <p>Episódio</p>
                        </div>
                        <h4 class="title-update">
                              One Piece
                        </h4>
                  </div>

                  <div class="card-update">
                        <div class="div-img" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.99)), url('../assets/images/jujutsu.jpeg');">
                              <p>Episódio 255</p>
                        </div>
                        <h4 class="title-update">
                              jujutsu kaisen
                        </h4>
                  </div>

                  <div class="card-update">
                        <div class="div-img" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.99)), url('../assets/images/news.jpeg');">
                              <p>Episódio</p>
                        </div>
                        <h4 class="title-update">
                              One Piece
                        </h4>
                  </div>

                  <div class="card-update">
                        <div class="div-img" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.99)), url('../assets/images/news.jpeg');">
                              <p>Episódio</p>
                        </div>
                        <h4 class="title-update">
                              One Piece
                        </h4>
                  </div>

                  <div class="card-update">
                        <div class="div-img" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.99)), url('../assets/images/demonslayer.jpeg');">
                              <p>Episódio 150</p>
                        </div>
                        <h4 class="title-update">
                              Demon Slayer
                        </h4>
                  </div>
            </nav>

      </section>

      <footer>
            <div class="div-footer">
                  <p>Todos os direitos reservados aos criadores e produtores dos anime</p>
            </div>
      </footer>
</body>
</html>